<h3>UML Parser</h3>
<hr>
<%= simple_form_for(@assignment) do |f| %>
  <%= f.input :student_id, label: 'Student ID', placeholder: 'Student ID' %>
  <%= f.input :description, label: 'Assignment Code', placeholder: 'Assignment Code' %>

  <%= f.label :assignment_type %>
  <%= f.collection_radio_buttons(:id, [[true, 'Class Diagram'], [false, 'Sequence Diagram']], :first, :last, item_wrapper_tag: :div, item_wrapper_class: :radio, checked: true) { |b| content_tag(:label) { b.radio_button + b.label } }  %>
  <%= f.input :java_source_zip, as: :file, :label => 'Java Source Files zip' %>
  <%= f.button :submit, 'Submit' %>
<% end %>
